.yarn
.vscode/**/*
.gitignore
.travis.yml
appveyor.yml
yarnrc.yml
package.json
src/**/*
out/tests/**/*
**/*.js.map
build
sampleworkspace
node_modules
tsconfig.json
out
sampleWebWorkerWorkspace
sampleWorkspace
python_driver/**/*